$yellow: #fffa19;
$red: #fc0314;
$green:#03fc7b;
$violet: #ce03fc;


@mixin margenes ($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron{
  background-color: darkviolet;
  color: white;
  @include margenes(50px,0px);
  //margin-top: 50px;
}

footer{
  padding: 10px 10px 0 10px;
  background-color: $violet;
  @include margenes(10px,0px);
  //margin-top: 10px;
  //margin-bottom: 0px;
}

.card-producto{
  flex: 1 250px;
  @include margenes(10px,0px);
  //margin-top: 10px;
}

.btn-productos {
  width : 100%;
  border-radius: 0px;
}
.footer-address-icon{
  padding-right: 10px;
}