.jumbotron {
  background-color: darkviolet;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ce03fc;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-producto {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-productos {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }
