@yellow: #fffa19;
@red: #fc0314;
@green:#03fc7b;
@violet: #ce03fc;


.margenes (@top:0px, @bottom:0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron{
  background-color: darkviolet;
  color: white;
  //margin-top: 50px;
  .margenes(50px,0px);
}

footer{
  padding: 10px 10px 0 10px;
  background-color: @violet;
  //margin-top: 10px;
  //margin-bottom: 0px;
  .margenes(10px,0px);
}

.card-producto{
  flex: 1 250px;
  //margin-top: 10px;
  .margenes(10px,0px);
}

.btn-productos {
  width : 100%;
  border-radius: 0px;
}
.footer-address-icon{
  padding-right: 10px;
}